.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  background-image: linear-gradient(to right, red , yellow);
  position: relative;
}

form {
  display: flex;
  text-align: left;
  flex-direction: column;
  border: 3px solid blue;
  border-radius: 1rem;
  width: fit-content;
  padding: 1rem;
  align-self: center;
  justify-self: center;
  margin:.5rem;
  background-color: rgb(240, 113, 202);
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 10px 10px 5px grey;
  position: relative;
}

input:hover {
  background-color: teal;
  cursor: pointer;
}

h1, h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: blue;
  margin: 0;
  text-align: center;
  text-decoration: underline;
  text-shadow: none;
}

label {
 color: white;
}

.img {
  object-fit: cover;
  position: absolute;
  top: 12rem;
  left: 5rem;
  height: 20rem;
  width: 25rem;
  border-radius: 50%;
  box-shadow: 10px 10px 5px rgb(145, 78, 2);
}

.img2 {
  object-fit: cover;
  position: absolute;
  top: 12rem;
  right: 5rem;
  height: 18rem;
  width: 23rem;
  border-radius: 50%;
  box-shadow: 10px 10px 5px rgb(99, 99, 4);
}

.reset {
  border-radius: .2rem;
  margin: 1rem;
  background-color: tomato;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  padding: .5rem;
}

.reset:hover {
  background-color: yellow;
  cursor: pointer;
}

.submit:hover {
  background-color: rgb(53, 236, 123);
  cursor: pointer;
}
.submit {
   border-radius: .2rem;
  margin: .5rem;
  background-color: green;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  padding: .5rem;
}

.Success {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}